{
  "log": {
    "_recordingName": "consistent-replay-rpc",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dd041639209b24f046967ac98a76a81a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_chainId\",\"params\":[],\"id\":1}"
          },
          "queryString": [],
          "url": "https://mainnet.base.org/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 43,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":\"0x2105\",\"id\":1}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-proxyd-cache-status",
              "value": "HIT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 40,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
