{
  "log": {
    "_recordingName": "net-client-get-message-invalid-index",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c2e75df3950e04e81ccbc81d5726925b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":9,\"method\":\"eth_call\",\"params\":[{\"data\":\"0x86f79edb000000000000000000000000000000000000000000000000000000003b9ac9ff\",\"to\":\"0x00000000B24D62781dB359b07880a105cD0b64e6\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://base-mainnet.public.blastapi.io/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 200,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":9,\"error\":{\"code\":3,\"message\":\"execution reverted: panic: array out-of-bounds access (0x32)\",\"data\":\"0x4e487b710000000000000000000000000000000000000000000000000000000000000032\"}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-alchemy-trace-id",
              "value": "fbefed19-a214-4682-95cd-693dc75d89d9"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 76,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
