{
  "log": {
    "_recordingName": "base-rpc-eth-balance",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7e5e3280dcc336953790d7cff31efb7e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_getBalance\",\"params\":[\"0x49048044D57e1C92A77f79988d21Fa8fAF74E97e\",\"latest\"],\"id\":1}"
          },
          "queryString": [],
          "url": "https://mainnet.base.org/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 54,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":\"0x386e08976b92c00\",\"id\":1}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-proxyd-cache-status",
              "value": "MISS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 58,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
