{
  "log": {
    "_recordingName": "net-client-bazaar-message-count",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3e3b75dc4211cc65644454ccba55db21",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"method\":\"eth_call\",\"params\":[{\"data\":\"0x731b9b21000000000000000000000000000000058f3ade587388daf827174d0e6fc97595\",\"to\":\"0x00000000B24D62781dB359b07880a105cD0b64e6\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://base-mainnet.public.blastapi.io/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 102,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":1,\"result\":\"0x0000000000000000000000000000000000000000000000000000000000000008\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-alchemy-trace-id",
              "value": "9877a17d-9cc6-4d02-88e5-7bc663ab9ece"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
