{
  "log": {
    "_recordingName": "net-client-replay-consistency",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "32a91969373a99e96cdd888878eda835",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":15,\"method\":\"eth_call\",\"params\":[{\"data\":\"0xb8070c73\",\"to\":\"0x00000000B24D62781dB359b07880a105cD0b64e6\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://base-mainnet.public.blastapi.io/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 103,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":15,\"result\":\"0x0000000000000000000000000000000000000000000000000000000000011520\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-alchemy-trace-id",
              "value": "9d5f79ea-5816-4798-8321-a1806ac560c8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 75,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
