{
  "log": {
    "_recordingName": "net-client-upvote-message-count",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bb783446b6213439047d76f2631e0fbb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":2,\"method\":\"eth_call\",\"params\":[{\"data\":\"0x731b9b2100000000000000000000000000000001f0b8173316a016a5067ad74e8cea47bf\",\"to\":\"0x00000000B24D62781dB359b07880a105cD0b64e6\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://base-mainnet.public.blastapi.io/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 102,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":2,\"result\":\"0x0000000000000000000000000000000000000000000000000000000000000000\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-alchemy-trace-id",
              "value": "b4b07576-7891-44a7-8476-8475e675dbb4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 70,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
