{
  "log": {
    "_recordingName": "base-rpc-gas-price",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "42c5982719e219aa814600cf128be60b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"method\":\"eth_gasPrice\",\"params\":[],\"id\":1}"
          },
          "queryString": [],
          "url": "https://mainnet.base.org/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 45,
            "text": "{\"jsonrpc\":\"2.0\",\"result\":\"0x302bd8\",\"id\":1}\n"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-proxyd-cache-status",
              "value": "MISS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 55,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
