{
  "log": {
    "_recordingName": "net-client-global-message-count",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "efa9b5d400414c921cf44d99c232e158",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"jsonrpc\":\"2.0\",\"id\":6,\"method\":\"eth_call\",\"params\":[{\"data\":\"0xb8070c73\",\"to\":\"0x00000000B24D62781dB359b07880a105cD0b64e6\"},\"latest\"]}"
          },
          "queryString": [],
          "url": "https://base-mainnet.public.blastapi.io/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 102,
            "text": "{\"jsonrpc\":\"2.0\",\"id\":6,\"result\":\"0x0000000000000000000000000000000000000000000000000000000000011520\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-alchemy-trace-id",
              "value": "eff590b0-ebc8-4489-a230-e3d978e87c73"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 59,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
